
<h1> Roll the dice! </h1>

<%#forma harcodeada%>

<p>
3
4
</p>

<p>
The total is 7 </p>

<%#forma correcta%>

<%
  die1 = rand (1..6)
  die2 = rand (1..6)
  total = die1 + die2
%>

<p>
  <%= die1%>
  <%= die2%>
</p>

<p>
The total is   <%=total%> 
</p>

<p>
  <a href="/dice"> Roll Again </a> <%#un link que me lleve exactamente a la misma pagina para que tire los dados devuelta%>
</p>

<%#agregandole foto de los dados!!!%>


<h1> Roll the dice! </h1>

<p>
  <img src="/images/dice/<%= die1%>.svg">
  <img src="/images/dice/<%= die2%>.svg">
</p>

<p>
The total is   <%=total%> 
</p>

<p>
  <a href="/dice"> Roll Again </a> <%#un link que me lleve exactamente a la misma pagina para que tire los dados devuelta%>
</p>